@import url(http://fonts.googleapis.com/css?family=Chango);

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
  background-color: #edede3;
  margin: 0}

h1	{font-size: 38px;
  margin-top: 0;
  margin-bottom: 0}

p	{line-height: 1.5}
